/* LAYOUT
-------------------------*/

#container{
	
}

#contact-container{
  @include outer-container();
  padding-bottom:4em;
}

#contact-text{
  margin-bottom:0em !important;
}

#mail-icon img {
  display: block;
  height: 2em;
  margin-bottom: 1em;
  opacity: 0.2;
  margin-left:auto;
  margin-right: auto;
  text-align: center;
  margin-top: 0em;
}

#mail-icon-big img {
  display: block;
  height: 2em;
  margin-bottom: 0em;
  opacity: 0.2;
  margin-left:auto;
  margin-right: auto;
  text-align: center;
  margin-top: 0em;
}

#mail-text{
	text-align:center;
}

#contact{
	text-align:center;
	
  p{
  	margin-top:0em;
  	margin-bottom:0em;
	}
	
}

/* General button style (reset) */
.btn {
  border: none;
  font-size: $h5-font-size;
  cursor: pointer;
  padding: 20px 40px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color:$light !important;
  background:$dark;
  border:none;
  font-family: $script;

  &:hover{
    background: lighten($dark,5%);
    border:none;
  }
}